extends ../layout.pug

block content
    p Use this <strong><a href="#{resetPasswordLink}" target="_blank">link</a></strong> to reset your password.
    p The link will be expired in 5 minutes.
    p If you didn't request this, simply ignore this message.
